body {
    background: #eeeeee;
}

.questionContainer{
    position: relative;
}

.question {
    background: #FFFFFF;
    font-size: 15px;
    width: 400px;
    padding: 10px;
    text-align: center;
    border: 2px solid #bbbbbb;
    margin: 10px auto;
}

.choicesImageContainer {
    background: #FFFFFF;
    border: 1px solid #aaaaaa;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    width: 360px;
    height: 140px;
}

.choicesImageFrame {
    border: 1px solid #000000;
    margin: 20px auto;
    width: 100px;
    height: 100px;
}

.choicesImage {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.answer {
    margin: 0px auto;
    width: 360px;
}

.displayAnswer{
    background: #FFFFFF;
    border: 2px solid #888888;
    width: 150px;
    height: 60px;
    overflow: auto;
    padding: 10px;
    margin: 10px auto;
    font-size: 12px;
}

.displayAnswerContainer{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px auto;
}
